* {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

a {
    font-size: 1rem;
    font-weight: 600;
}

#nav-sm a{
    padding: 8px 50px;
    width: 100%;
    border-radius: 7px;
}
#nav-sm a:hover{
    color: white;
    background: #010615;
}